
<mat-toolbar color="primary" class="app-header">
  <div><a  target="_blank" class="positronx">Aplicacion de pedidos UPS</a></div>
    <a mat-button routerLink="/login" routerLinkActive="active">Cambiar mis datos</a>
    <a mat-button routerLink="/login" routerLinkActive="active">Anular mi cuenta</a>
    <a mat-button routerLink="/login" routerLinkActive="active">Realizar un pedido</a>
    <a mat-button routerLink="/login" routerLinkActive="active">Ver mis pedidos</a>
    <a mat-button routerLink="/login" routerLinkActive="active">Log Out</a>


  
  
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>BIENVENIDO</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>