<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Aplicacion de Pedidos UPS</h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
          <mat-icon> {{nav.icon}}</mat-icon>
          {{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Modificar mis datos</mat-card-title>
    </mat-card-header>
    <form [formGroup] = "form" (submit)="modificarUsuario()" class="example-form" >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Cédula" formControlName="cedula">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellido" formControlName="apellido">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Dirección" formControlName="direccion">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Teléfono" formControlName="telefono">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Correo" formControlName="correo">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" formControlName="contrasena">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button   color="accent" class="btn-block">Modificar</button>
    </form>
  </mat-card>
</div>
